# Model weights
*.pt
*.pth
*.onnx
*.blob

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# YOLOv6 clone
YOLOv6/
kaggle/YOLOv6/

# Datasets
datasets/

# Output directories
output/
runs/